large_data
__pycache__
saved_results
.ipynb_checkpoints
*.npy
*.npz
*.png
.vscode
SMD
temp_fig
UCR-SEG
USC-HAD
PAMAP2
HVGHlearn
output_folder
output_TICC
output_StateCorr
output_HDP_HSMM
result.txt
out_ClaSP.txt
out_ClaSP
results
*.o
data/synthetic_data_for_segmentation2
case_study1
case_study2
data
output
supplements
HVGH
pyhsmm2
REDSDS
ts2vec
Baselines/evaluation_hsmm.py
Baselines/hdphsmm.py
Baselines/hdp-hsmm.py